h1{
    font-family: sans-serif;
    text-align: center;
}

#table{
    margin-left: 50%;
    margin-right: 40%;
    margin-top: 10%;
    width: 40%;
    background-color: palevioletred;
}

body{
    background-color:pink;
}

.login{
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 20px;
}

.register{
    margin-left: 35%;
    margin-right: 40%;
    width: 30%;
}

a{
    background-color:mediumblue;
    color:white;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bolder;
}

.btnlog{
    height: 60px;
}

#login{
    background-color:green;
    color:white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    border: none;
    font-weight: bolder;
    margin-left: 15%;
    cursor:pointer;
}