h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white; /* for login table*/
}

.h1{
    background-color:slateblue;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-left: 35%;
    width: 30%; /*for web design module title*/
}

#table{
    margin-left: 55%;
    margin-right: 40%;
    margin-top: 12%;
    width: 40%;
    background-color:mediumpurple;
    border-collapse: collapse;
} /* login table*/

.body{
    background-color:lightskyblue;
    background-image: url(maincover.png);
    background-position:18% bottom;
    background-repeat: no-repeat;
    background-size: 30%;
} /* login body*/

.login{
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 20px;
} /* text Email address and password*/

a{
    background-color:mediumblue;
    color:white;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 6%;
} /*change hyperlink to button*/

.btnlog{
    height: 60px;
} /*change td size for button*/

#login{
    background-color:green;
    color:white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    border: none;
    font-weight: bolder;
    margin-left: 20%;
    cursor:pointer;
} /* login button*/

.title{
    background-color:rebeccapurple;
} /*title back color*/

.intext{
    text-align: center;
} /*login text*/

.size{
    font-size: 16px;
} /*size for input*/

.register{
    margin-left: 25%;
    margin-right: 40%;
    width: 50%;
    background-color: thistle;
    border-collapse: collapse;
} /*register table*/

#register{
    background-color:green;
    color:white;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
    border: none;
    font-weight: bolder;
    cursor:pointer;
} /*register button*/

#reset{
    background-color:black;
    color:white;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
    border: none;
    font-weight: bolder;
    cursor:pointer;
} /*register button*/

.bg{
    background-color: lightgrey;
} /*back color for register page*/

tr,td{
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 70px;
} /*change font for tr & td */

.color{
    background-color:orchid;
} /*back color*/

.terms{
    font-size: 14px;
} /*change font for terms */

.border{
    border:  thistle;
} /*border color*/